.footer {
  background: linear-gradient(90deg, #fff 0%, #f0fff0 100%);
  padding: 2rem 0;
  border-radius: 1rem;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.copy {
  font-size: clamp(.3rem, 1vw, 2rem);
  color: var(--muted);
  margin: 0;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  font-size: clamp(.3rem, 1.3vw, 2rem);
  padding: 4px 8px;
  border-radius: 6px;
  /* transition: background 0.2s; */
}

.active {
  background: var(--accent);
  color: white;
}

/* Mobile layout */
@media (max-width: 248px) {
  .nav {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}