 
.header {
  background: linear-gradient(90deg, #fff 0%, #f0fff0 100%);
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(209, 147, 147, 0.05);
  border-radius: 1rem;
  text-align: start;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.brandBox {
  display: flex;
}

.brand {
  font-size: 1.5rem;
}

.brandImg {
  height: 70px;
  margin-top: -6px;
}

.brand a {
  display: flex;
  flex-direction: row;
  color: var(--accent);
  text-decoration: none;
}

.nav a {
  font-weight: 500;
  margin-left: 1rem;
  text-decoration: none;
  /* color: var(--muted); */
  padding: 6px 8px;
  border-radius: 6px;
}

.active {
  background: var(--accent);
  color: white;
}

/* Hamburger button */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
  
}

.hamburger span {
  height: 3px;
  width: 100%;
  background-color: #777;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Animate to X */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Navigation */
.nav {
  display: flex;
  right: 2rem;
  top: 4.5rem;
  gap: 1rem;
  transition: all 0.5s ease;
}

.showMenu {
  display: flex;
}

/* Mobile layout */
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #fff;
    padding: 2.5rem 1rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .hamburger {
    display: flex;
  }

  .showMenu {
    display: flex; 
  }
}
